<!DOCTYPE html>
<html lang="en">
<head>
    @@include("../_common/header.html")
    <%-init_css('common.css,book.css')%>
</head>
<body>
    <header class="nav-bar">
        <a href="javascript:history.go(-1);" class="top-back"></a>
        <h1 class="bar-title"><%=title%></h1>
    </header>
    <section class="container">
        <ul class="m-list">
            <% list.map((item, index)=> {%>
            <li class="list-item">
                <a href="/book/dir/<%=item.sid%>/<%=item.listId%>"><%=item.name%><span class="author">/<%=item.author%></span></a>
            </li>
            <%})%>
        </ul>
        <div class="m-page">
            <div class="page">
                <% if (data.curpage > 1) { %>
                <a href="/book/list/<%=id%>/1">首页</a>
                <a href="/book/list/<%=id%>/<%=parseInt(sid)-1%>">上页</a>
                <% } %>
                <% if (data.curpage != data.total) { %>
                <a href="/book/list/<%=id%>/<%=parseInt(sid)+1%>">下页</a>
                <a href="/book/list/<%=id%>/<%=data.total%>">尾页</a>
                <% } %>
            </div>
            <div class="page-info">(第<%=data.curpage%>/<%=data.total%>页)当前<%=data.pageSize%>条/页</div>

        </div>
    </section>
    @@include('../_common/footer.html')
</body>
</html>
