/*------------------------------------------------
@Filename:  book.less
@Description:   小说样式
@Version:   1.0.0(2017-03-11)
@author:    LJL
@updatatime:
------------------------------------------------*/
/*------------------------------------------------
@Filename:  variables.less
@Description:   variables (可定义一些常用的变量，如颜色值或字体大小...)
@Version:   1.0.0(2017-03-11)
@author:    LJL
@updatatime:
------------------------------------------------*/
/* ###### 颜色定义开始 ###### */
/*提醒*/
/*强调/警告*/
/* 边框颜色 */
/* 全站字体颜色 */
/*通用*/
/*正文*/
/*通用浅色*/
/*标题*/
/*说明*/
/*价格*/
/* 全站链接颜色 */
/* 常用链接颜色 */
/* ------神爸标准颜色------ */
/*logo色：青绿*/
/*绿*/
/*logo色：橙*/
/*嫣红*/
/*铅白*/
/* ------调色板------ */
/*白*/
/*鱼肚白*/
/*铅白*/
/*红*/
/*嫣红*/
/*深红*/
/*暗红*/
/*浅红*/
/*品红*/
/*粉红*/
/*浅黄*/
/*橙*/
/*橘黄*/
/*绿*/
/*浅紫*/
/*丁香紫*/
/*黛蓝*/
/*灰7%*/
/*灰12%*/
/*灰14%*/
/*灰20%*/
/*灰25%*/
/*灰30%*/
/*灰37%*/
/*灰45%*/
/*灰53%*/
/*灰95%*/
/*黑*/
/* ###### 颜色定义结束 ###### */
/* 定义rem */
.m-catalog {
  margin-top: 0.2rem;
}
.m-catalog .list-item {
  width: 42%;
  display: inline-block;
  margin: 0.2rem 2%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 99px;
  text-align: center;
}
.m-catalog .list-item a {
  font-size: 0.28rem;
  padding-left: 0.2rem;
}
.m-list .list-item {
  margin-top: .2rem;
  height: 0.68rem;
  line-height: 0.68rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  font-size: 0.28rem;
}
.m-list .list-item a {
  padding-left: 0.2rem;
}
.m-list .list-item .author {
  color: #999;
  font-size: 0.26rem;
}
.m-page .page {
  height: auto;
  margin-top: 0.3rem;
  text-align: center;
}
.m-page .page a {
  text-align: center;
  padding: 0.12rem 0.35rem;
  margin: 0 0.08rem;
  border-radius: 3px;
  background: #2A7CE7;
  color: #fff;
}
.m-page .page-info {
  padding: 0.1rem 0;
  text-align: center;
  font-size: 0.26rem;
  line-height: 0.6rem;
  color: #999;
}
.m-info {
  background: #fff;
  margin-top: 0.2rem;
  border-bottom: 1px solid #eee;
  padding: 0.2rem;
}
.m-info .info-thumb {
  width: 2rem;
  float: left;
  margin-right: 0.2rem;
}
.m-info .info-thumb img {
  display: block;
  width: 2rem;
  min-height: 2.2rem;
}
.m-info .info-text h1 {
  line-height: 1.8;
  font-size: 0.3rem;
  font-weight: bold;
}
.m-info .info-text li {
  font-size: 0.24rem;
  line-height: 1.7;
}
.m-intro {
  border-bottom: 1px solid #ddd;
}
.m-intro .intro-cnt {
  background: #fff;
  font-size: 0.28rem;
  padding: 0.2rem;
  line-height: 1.5;
}
.m-dir .m-dir-tit {
  height: 0.75rem;
  padding-left: 0.2rem;
  line-height: 0.75rem;
  font-size: 0.28rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.m-dir .dir-list {
  background: #fff;
}
.m-dir .dir-list li {
  height: 0.68rem;
  line-height: 0.68rem;
  border-bottom: 1px solid #eee;
  font-size: 0.28rem;
}
.m-dir .dir-list li a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.2rem;
}
.m-show {
  background: #fff;
}
.m-show .show-cnt {
  padding: 0.2rem;
  font-size: 0.3rem;
}
.m-show .show-cnt p {
  padding: 0.08rem 0;
  line-height: 1.6;
  text-indent: 2em;
}
