<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<base target="_self">
<title><%=title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit|ie-stand">

    <%-init_css('aaa.css,common.css,index.css')%>
    <%-init_js('react.js,jquery.js,index.js')%>
</head>
<body>
    <!-- <div id="index"></div> -->
    <div id="app">
        <header class="header header-flex">
            <h1 class="title">node抓取cNode首页数据</h1>
        </header>
        <div class="container">
            <ul>
                <%list.map((item, index)=>{%>
                <li data-url="<%=item.avatar%>" class="item">
                    <div class="item-user-bar">
                        <div class="avatar-cover avatar-loaded">
                            <div class="avatar" style="background-image: url('<%-item.avatar%>')"></div>
                        </div>
                        <div class="item-detail"><span class="username"><%=item.userName%></span>
                            <p class="item-time">
                                <%=item.lastTime%>
                            </p>
                        </div>
                    </div>
                    <div class="item-content">
                        <a href="https://cnodejs.org<%=item.href%>" class="item-link">
                            <p class="item-content-title"><%=item.title%></p>
                        </a>
                    </div>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    var _ie = window.navigator.userAgent;
    var agentID = _ie.match(/(MSIE 9.0|MSIE 8.0|MSIE 7.0)/i);
    if(agentID){
        window.location.href="/browser";
    }
</script>

</body>
</html>
