/*------------------------------------------------
@Filename:  book.less
@Description:   小说样式
@Version:   1.0.0(2017-03-11)
@author:    LJL
@updatatime:
------------------------------------------------*/
@import "./variables.less";
.m-catalog{
    margin-top: 20/@rem;
    .list-item{
        width: 42%;
        display: inline-block;
        margin: 20/@rem 2%;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        height: 60/@rem;
        line-height: 60/@rem;
        border-radius: 99px;
        text-align: center;
        a{
            font-size: 28/@rem;
            padding-left: 20/@rem;
        }
    }
}

// 列表
.m-list{
    .list-item{
        margin-top: .2rem;
        height: 68/@rem;
        line-height: 68/@rem;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        font-size: 28/@rem;
        a{
            padding-left: 20/@rem;
        }
        .author{
            color: #999;
            font-size: 26/@rem;
        }
    }
}

// 目录
.m-info{
    background: #fff;
    margin-top: 20/@rem;
    border-bottom: 1px solid #eee;
    padding: 20/@rem;
    .info-thumb{
        width: 200/@rem;
        float: left;
        margin-right: 20/@rem;
        img{
            display: block;
            width: 200/@rem;
            min-height: 220/@rem;
        }
    }
    .info-text{
        h1{
            line-height: 1.8;
            font-size: 30/@rem;
            font-weight: bold;
        }
        li{
            font-size: 24/@rem;
            line-height: 1.7;
        }
    }
}
.m-intro{
    border-bottom: 1px solid #ddd;
    .intro-cnt{
        background: #fff;
        font-size: 28/@rem;
        padding: 20/@rem;
        line-height: 1.5;
    }
}

.m-dir{
    .m-dir-tit{
        height: 75/@rem;
        padding-left: 20/@rem;
        line-height: 75/@rem;
        font-size: 28/@rem;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }
    .dir-list{
        background: #fff;
        li{
            // margin: 0 20/@rem;
            height: 68/@rem;
            line-height: 68/@rem;
            border-bottom: 1px solid #eee;
            font-size: 28/@rem;
            a{
                display: block;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                padding:0 20/@rem;
            }
        }
    }
}
